body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgb(33, 118, 245);
    color: white;
    
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-family: 'Bai Jamjuree';
}

.box {
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.trigger {
    width: 300px;
    height: 40px;
    background-color: rgb(33, 118, 245);
    font-size: 14px;
    color: white;
}

.button_box {
    margin: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    font-size: 14px;
}

.button_twiiter {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 300px;
    height: 40px;
    border: solid 1px white;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    a {
        padding: 20px;
        color: white;
        text-decoration: none;
        position: absolute;
        width: 300px;
        height: 40px;
    }
    i {
        color: white;
        padding: 15px 15px 15px 0;
        position: relative;
    }
}